---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Blog and Knowledge Base for <a
      href='https://www.linkpurr.com/'
      target='_blank'
      class='text-blue'>LinkPurr</a
    >
  </p>
</footer>
